body {
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 0px 30%;
    width: 100%
}

h1{
    padding: 0px 25%;
    width: 100%;
}

    .search-bar input[type="text"] {
        width: 30%;
        /*    height: 30px;*/
        padding: 5px;
    }

    .search-bar input[type=image] {
        padding: 5px;
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-right: solid 1px;
        border-color: black;
    }

        .search-bar input[type=image]:hover {
            background-color: #ccc;
        }

    .search-bar select {
        width: 15%;
        margin-left: 20px;
    }


        .search-bar select:hover {
            border-color: #888;
        }


        .search-bar select:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

.grid-view, .grid-view-major {
    flex: 1;
    margin-top: 20px;
    width: 50vw;
    max-height: 100px;
    overflow-y: auto;
}

    .grid-view th ,.grid-view-major th{
        padding: 2px 5px;
        background-color: #ddd;
    }

    .grid-view td ,.grid-view-major td{
        padding: 5px 5px;
    }

    .grid-view input[type="image"], .grid-view-major input[type="image"] {
        border: solid 1px;
        border-color: #d22a46;
        border-radius: 100%;
        background-color: #d22a46;
        padding: 4px;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }

        .grid-view input[type="image"]:hover, .grid-view-major input[type="image"]:hover {
            background-color: #af1f35;
        }

    .grid-view tr th:nth-child(5n+1) {
        min-width: 94px;
    }

    .grid-view tr th:nth-child(5n+2) {
        min-width: 94px;
    }

    .grid-view tr th:nth-child(5n+4), .grid-view tr td:nth-child(5n+4),
    .grid-view-major tr th:nth-child(2n), .grid-view-major tr td:nth-child(2n) {
        width: 78px;
    }
    
    .grid-view tr th:nth-child(5n), .grid-view tr td:nth-child(5n) {
        width: 0px;
    }
        .grid-view tr td:nth-child(5n) input {
            border: solid 1px;
            border-color: #d22a46;
            border-radius: 10%;
/*            background-color: #d22a46;*/
            padding: 4px;
/*            width: 30px;*/
            height: 30px;
            display: inline-block;
            vertical-align: middle;
        }

.center {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100vw;
    padding: 5px 25vw;
    margin-bottom: 1vw;
}

    .button-container input[type="submit"] {
        display: flex;
        align-self: flex-end;
        padding: 8px 16px;
        background-color: #d22a46;
        color: white;
        border: solid 1px;
        border-color: #d22a46;
        border-radius: 4px;
        cursor: pointer;
        min-width: 100px;
        text-align: center;
        flex-grow: 0;
    }

        .button-container input[type="submit"]:hover {
            background-color: #af1f35;
        }
