body {
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 70%
}

.search-bar input[type="text"] {

    width: 30%;
    /*    height: 30px;*/
    padding: 5px;
}

.search-bar input[type=image]{
    padding: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: black;
}

    .search-bar input[type=image]:hover {
        background-color: #ccc;
    }

.search-bar select{
    width: 15%;
    margin-left: 20px;
}


    .search-bar select:hover {
        border-color: #888;
    }


    .search-bar select:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

.grid-view {
    flex: 1;
    margin-top: 20px;
    width: 50vw;
}

.grid-view th{
    padding: 2px 5px;
    background-color: #ddd;
}

.grid-view td{
    padding: 5px 5px;
}

    .grid-view input[type="image"] {
        border: solid 1px;
        border-color: #d22a46;
        border-radius: 100%;
        background-color: #d22a46;
        padding: 4px;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }
        .grid-view input[type="image"]:hover {
            background-color: #af1f35;
        }

.grid-view tr th:nth-child(5n+1){
    min-width: 94px;
}
.grid-view tr th:nth-child(5n+2){
    min-width: 94px;
}
.grid-view tr th:nth-child(5n+3){
    min-width: 400px;
}
.grid-view tr th:nth-child(5n+4){
    min-width: 210px;
}
.grid-view tr th:nth-child(5n+5){
    min-width: 75px;
}

.center{
    text-align:center;
}

.button-container {
    display: flex;
    justify-content:end;
    gap: 10px;
    width: 100vw;
    padding: 5px 25vw;
}
    .button-container input[type="submit"] {
        display:flex;
        align-self: flex-end;
        padding: 8px 16px;
        background-color: #d22a46;
        color: white;
        border: solid 1px;
        border-color: #d22a46;
        border-radius: 4px;
        cursor: pointer;
        /* 可以设置最小宽度 */
        min-width: 100px;
        /* 文本居中 */
        text-align: center;
        /* 可以使用 flex-grow 来控制按钮是否增长填充空间 */
        flex-grow: 0;
    }

        .button-container input[type="submit"]:hover {
            background-color: #af1f35;
        }