* {
    outline: none;
    caret-color: transparent;
}
span, h1, h2, li, p {
    user-select: none;
    margin:0px;
}

table{
}

.box {
    width: 1150px;
    height: 900px;
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 25px;
    margin: 50px auto 40px;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    font-size: 12pt;
    font-weight: 100;
    line-height: 1.6;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.body {
    margin: 0px 90px;
}

.body h1 {
    display: inline-block;
        --rem: 16;
    font-family: Arial;
    font-size: 18pt;
    color: #656565;
    margin-bottom: 30px;
}

#studentInfoPart {
    width: 100%;
    border-collapse: collapse;
}

#studentInfoPart tr {
    height: 30px;
}

#studentInfoPart td:nth-child(odd) {
    font-weight: 800;
    width: 15%;
}

#studentInfoPart td:nth-child(odd):before {
    content: ":";
    text-align: right;
    float: right;
}

#studentInfoPart td:nth-child(even) {
    width: 35%;
    padding-left: 5px;
}

#stdentCourseInfo {
    margin: 30px 0px;
    width: 100%;
}

#stdentCourseInfo > tbody > tr > td:nth-child(2n+1){
    width: 50%;
    padding-right: 30px;
}
#stdentCourseInfo > tbody > tr > td:nth-child(2n) {
    width: 50%;
}

h2 {
    --rem: 16;
    font-family: Arial;
    font-size: 14pt;
    color: #656565;
    font-weight: 500;

}

.body h2 {
    margin: 10px 0px;
}
.body input{
    background-color: #f6f6f6;
    border: none;
    color: #656565;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    margin-top: 10px;
    cursor: pointer;
    border: solid #C3C3C3 1px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.CourseEnrolled input{
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom : 0px;
}

.body input:hover {
    background-color: #c3c3c3;
}

.footer-button input{
    width: 100px;
}

.footer-button{
    margin: 20px 0px;
}

/*dynamic components*/
.PreviousFailedCourse {
    border: 1px solid #333;
    width:100%
}

.PreviousFailedCourse th:nth-child(2n+1){
    border: 1px solid #333;
    color: #FFF;
    background-color: #333;
    width:30%;
    padding-left: 10px;
}

.PreviousFailedCourse th:nth-child(2n){
    border: 1px solid #333;
    color: #FFF;
    background-color: #333;
    width:70%;
    padding-left: 10px;
}
.PreviousFailedCourse td:nth-child(2n+1){
    border: 1px solid #333;
    color: #333;
    width:30%;
    padding-left: 10px;
}

.PreviousFailedCourse td:nth-child(2n){
    border: 1px solid #333;
    color: #333;
    width:70%;
    padding-left: 10px;
}


.PreviousCompulsoryCourse {
    border: 1px solid #333;
    width: 100%;
}

    .PreviousCompulsoryCourse th:nth-child(2n+1) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 30%;
        padding-left: 10px;
    }

    .PreviousCompulsoryCourse th:nth-child(2n) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 70%;
        padding-left: 10px;
    }

    .PreviousCompulsoryCourse td:nth-child(2n+1) {
        border: 1px solid #333;
        color: #333;
        width: 30%;
        padding-left: 10px;
    }

    .PreviousCompulsoryCourse td:nth-child(2n) {
        border: 1px solid #333;
        color: #333;
        width: 70%;
        padding-left: 10px;
    }

.CourseEnrolled {
    border: 1px solid #333;
    width: 100%
}
    .CourseEnrolled th:nth-child(5n+1) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 4%;
        padding-left: 5px;
    }

    .CourseEnrolled th:nth-child(5n+2) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 20%;
        padding-left: 10px;
    }

    .CourseEnrolled th:nth-child(5n+3) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 60%;
        padding-left: 10px;
    }

    .CourseEnrolled th:nth-child(5n+4) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 10%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .CourseEnrolled th:nth-child(5n+5) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 17%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .CourseEnrolled td:nth-child(5n+1) {
        border: 1px solid #333;
        color: #333;
        width: 5%;
        padding-left: 5px;
    }

    .CourseEnrolled td:nth-child(5n+2) {
        border: 1px solid #333;
        color: #333;
        width: 20%;
        padding-left: 10px;
    }

    .CourseEnrolled td:nth-child(5n+3) {
        border: 1px solid #333;
        color: #333;
        width: 60%;
        padding-left: 10px;
    }

    .CourseEnrolled td:nth-child(5n+4) {
        border: 1px solid #333;
        color: #333;
        width: 10%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .CourseEnrolled td:nth-child(5n+5) {
        border: 1px solid #333;
        color: #333;
        width: 17%;
        padding-left: 5px;
        padding-right: 5px;
    }

table td, table th {
    vertical-align: top;
}

/*pop up windows*/
.pop-up-windows {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.windows-contain{
    background-color: #fff;
/*    align-content: center;*/
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    border: 1px solid #888;
    width:600px;
    border-radius: 5px;
/*    height:500px;*/
}

.PreRequisiteCourse {
    border: 1px solid #333;
    width: 100%;
}

    .PreRequisiteCourse th:nth-child(3n+1){
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 20%;
        padding-left: 10px;
    }
    .PreRequisiteCourse td:nth-child(3n+1) {
        border: 1px solid #333;
        width: 20%;
        padding-left: 10px;
    }

    .PreRequisiteCourse th:nth-child(3n+2){
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 50%;
        padding-left: 10px;
    }

    .PreRequisiteCourse td:nth-child(3n+2) {
        border: 1px solid #333;
        width: 50%;
        padding-left: 10px;
    }

    .PreRequisiteCourse th:nth-child(3n) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 30%;
        padding-left: 10px;
    }
    
    .PreRequisiteCourse td:nth-child(3n) {
        border: 1px solid #333;
        width: 30%;
        padding-left: 10px;
    }

.pop-up-windows h2{
    margin: 10px 0px;
}

.dropDownList {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 16px;
/*    appearance: none;*/
/*    background: white url('data:image/png;base64, ...') no-repeat right 10px center;*/
    background-size: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .dropDownList:focus {
        border-color: #0056b3; /* 聚焦时边框颜色 */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 聚焦时添加阴影效果 */
    }

    .dropDownList option {
        padding: 10px;
    }

.pop-up-windows input {
    background-color: #f6f6f6;
    border: none;
    color: #656565;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 10px 0px 0px;
    cursor: pointer;
    border: solid #C3C3C3 1px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .pop-up-windows input:hover {
        background-color: #c3c3c3;
    }

.pop-up-windows .validator{
    margin: 10px 0px;
    color: #EE0000;
    font-size: 16pt;
}

.FeeSummary {
    border: 1px solid #333;
    width: 100%;
}

    .FeeSummary th:nth-child(4n+1) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 4%;
        padding-left: 10px;
    }

    .FeeSummary th:nth-child(4n+2) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 20%;
        padding-left: 10px;
    }

    .FeeSummary th:nth-child(4n+3) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 60%;
        padding-left: 10px;
    }

    .FeeSummary th:nth-child(4n+4) {
        border: 1px solid #333;
        color: #FFF;
        background-color: #333;
        width: 10%;
        padding-left: 5px;
        padding-right: 10px;
    }

    .FeeSummary td:nth-child(4n+1) {
        border: 1px solid #333;
        color: #333;
        width: 5%;
        padding-left: 10px;
    }

    .FeeSummary td:nth-child(4n+2) {
        border: 1px solid #333;
        color: #333;
        width: 20%;
        padding-left: 10px;
    }

    .FeeSummary td:nth-child(4n+3) {
        border: 1px solid #333;
        color: #333;
        width: 60%;
        padding-left: 10px;
    }

    .FeeSummary td:nth-child(4n+4) {
        H border: 1px solid #333;
        color: #333;
        width: 10%;
        padding-right: 10px;
        padding-left: 10px;
    }


.not-available-image {
    display: block;
    margin: 0px auto;
}