body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #df595c,#6b2424);
}

p, img {
    caret-color: transparent;
    user-select: none;
}

.box {
    width: 460px;
    height: 600px;
    background: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    font-size: 12pt;
    font-weight: 100;
    line-height: 1.6;
    overflow: clip;
    overflow-clip-margin: content-box;
}

    .box img {
        display: block;
        margin: 20px auto 10px;
        width: 70%;
    }

    .box p {
        font-size: 14pt;
        font-weight: 100;
        line-height: 1.6;
    }

#infoBox {
    margin: 0px 40px 15px 40px;
    padding: 10px 10px 10px 10px;
}

.textBox {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-color: #808080;
    border-radius: 2px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #e8f0fe;
}

    .textBox focus {
        border-color: #808080;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .textBox::placeholder {
        color: #aaa;
        font-style: italic;
    }

#infoBox > p {
    margin-top: 10px;
}

#btnResetPassword, #btnExit, #btnExitInPopUpWindows {
    width: 140px;
    height: 42px;
    background-color: #c00000;
    color: #FFF;
    text-align: center;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-color: #e8f0fe;
    border-radius: 7px;
    margin: 0px 10px;
}

.button-bar {
    display:inline-block;
    margin: 0px 48px;
}

.terms > p {
    font-size: 7.5pt;
    text-align: center;
    margin: 10px 0px 5px 0px;
}

.terms p > span {
    color: #f00000;
    font-weight: 800;
}

.validator {
    font-size: 12px;
}

#btnSendVerificationCode {
    background-image: url(/Images/send.png);
    width: 32px;
    height: 32px;
    background-repeat: space;
    margin: 0px 3px;
}

#txtVerifcationCode {
    border: none;
    width:100%;
}

.verifcation-code-table{
    border-spacing:0px;
    padding:0px;
}

.verifcation-code-table{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-color: #808080;
    border-radius: 2px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .verifcation-code-table td:last-child {
        width: 42px;
        background-color: #e8f0fe;
    }

/*pop up windows*/
.pop-up-windows {
/*    display: none;*/
display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.windows-contain {
    background-color: #fff;
    align-content: center;

    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    max-height: 70%
}

    .windows-contain h1 {
        text-align:center;
        color: #4CAF50;
        font-size: 36px;
    }

.checkmark-container {
    display: inline-block;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e0f7e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checkmark {
    font-size: 80px;
    color: #4CAF50;
}

#btnExitInPopUpWindows {
    display:block;
    margin: 0px auto;
}