body {
}

.box {
    width: 1150px;
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 25px;
    margin: 50px auto 40px;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    font-size: 12pt;
    font-weight: 100;
    line-height: 1.6;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.body {
    display: flex;
    justify-content: center
}

    .body > div {
        text-align: left;
        width: 800px;
    }

    .body h1 {
        --rem: 16;
        font-family: Arial;
        font-size: 18pt;
        color: #656565;
        margin-bottom: 30px;
    }

    .body table {
        width: 100%;
    }

        .body table p {
            display: inline-block;
            --rem: 16;
            font-family: Arial;
            font-size: 10pt;
            vertical-align: central;
        }


h1, div {
    user-select: none;
    outline: none;
    caret-color: transparent;
}

.body table input[type=text] {
    width: 90%;
    margin: 4px 0px;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-color: #808080;
    border-radius: 2px;
    font-size: 12px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #fff;
    caret-color: #000;
}

    .body table input[type=text] focus {
        border-color: #808080;
        box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
    }

    .body table input[type=text]::placeholder {
        color: #aaa;
        font-style: italic;
    }


.dropDownList {
    width: 90%;
    margin: 4px 0px;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 2px;
    font-size: 12px;
    appearance: menulist;
    background: white url('data:image/png;base64, ...') no-repeat right 10px center;
    background-size: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .dropDownList:focus {
        border-color: #0056b3;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .dropDownList option {
        padding: 12px;
    }

.body table span {
    color: red;
}

.footer-button {
    padding: 20px 0px 30px;
}

    .footer-button input {
        background-color: #f6f6f6;
        width: 250px;
        border: none;
        color: #000000;
        padding: 6px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px;
        cursor: pointer;
        border: solid #C3C3C3 1px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .footer-button input:hover {
            background-color: #c3c3c3;
        }

.bank-details td:nth-child(odd) {
    font-weight: 600;
    width: 15%;
}

    .bank-details td:nth-child(odd):before{
        content: ":";
        text-align: right;
        float: right;
    }

.bank-details td:nth-child(even){
    width: 35%;
    padding-left: 5px;
    padding-right: 10px;
}

    .bank-details input[type=file]{
        margin: 10px 0px;
    }