body {
}

.box {
    width: 1150px;
    height: 900px;
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 25px;
    margin: 50px auto 40px;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    font-size: 12pt;
    font-weight: 100;
    line-height: 1.6;
    overflow: clip;
    overflow-clip-margin: content-box;
}

span, h1, h2, li, p, div {
    user-select: none;
    outline: none;
    caret-color: transparent;
}

.body {
    margin: 0px 90px;
}

    .body h1 {
        display: inline-block;
        --rem: 16;
        font-family: Arial;
        font-size: 18pt;
        color: #656565;
    }

    .body > p {
        --rem: 16;
        width: 100%;
        text-align: justify;
        color: gray;
        font-size: 10pt;
        font-family: Arial;
        margin: 0px;
        padding-top: 10px;
    }

    .body > div{
        display:flex;
        margin: 10px auto;
        width: 370px;
    }