# Ignore Visual Studio temporary files, build results, and
# build directories
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
.vs/
*.user
*.suo

# Ignore Recycle Bin files
*.~*

# Ignore web-specific files
_AppStart.*
_AppRestart.*
web.config.transform
project.lock.json
project.fragment.lock.json

# Ignore NuGet Packages
*.nupkg
packages/
project.lock.json
*.snupkg

# Ignore IIS Express specific files
iisexpress/
.vscode/
.vscode-test/

# Ignore temporary files and folders
*_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
*.SQL
*.DB
*.bak
*.log

# Ignore publish output
publish/
*.Publish.xml

# Ignore JetBrains Rider files
.idea/

# Ignore Test results
TestResults/
*.trx
*.coverage

# Ignore NCrunch
.ncrunchsolution
*.ncrunchproject
.ncrunch/
